#box1{
    background-color: aqua;
    height: 300px;
    width: 600px;
    margin-left: 450px;
    margin-top: 150px;

}

#submitbutton{
    background-color: yellow;
    height: 50px;
    width: 200px;   
    font-size: larger;
    font-weight: 700;
    margin-top: 221px;
    margin-left: 350px;
    border-radius: 20px;

}